//GRADIENT
@keyframes gradientShift {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

[data-aos="line-grow"] {
	transition: width 1s ease-out;
}

[data-aos="line-grow"].aos-animate {
	width: 100%;
}
